name: Build HyperOS SGSI & Release

on:
  workflow_dispatch:
    inputs:
      rom_url:
        description: 'Прямая ссылка на Recovery ROM HyperOS'
        required: true
        default: ''

jobs:
  build:
    runs-on: ubuntu-22.04
    # ОЧЕНЬ ВАЖНО: Права на запись для создания релизов
    permissions:
      contents: write
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # 1. Очистка места
      - name: Ручная очистка места
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
          sudo apt-get clean
          df -h

      # 2. Установка зависимостей
      - name: Установка инструментов
        run: |
          sudo apt-get update
          sudo apt-get install -y git wget curl unzip tar zip android-sdk-libsparse-utils e2fsprogs simg2img img2simg python3 python3-pip aria2 brotli erofs-utils
          pip3 install protobuf==3.20.*

      # 3. Клонирование (ветка 12)
      - name: Настройка SGSI Tool
        run: |
          git clone --recurse-submodules https://github.com/Xiaoxindada/SGSI-build-tool.git -b 12
          sudo chmod -R 777 SGSI-build-tool

      # 4. Скачивание
      - name: Скачивание прошивки
        run: |
          cd SGSI-build-tool
          mkdir -p tmp
          echo "Скачивание в папку tmp..."
          aria2c -x16 -s16 -o tmp/firmware.zip "${{ github.event.inputs.rom_url }}"

      # 5. Сборка
      - name: Сборка SGSI
        run: |
          cd SGSI-build-tool
          sudo bash setup.sh
          echo "Начинаем сборку..."
          # --AB: Тип разделов, 14: Android 14
          sudo bash make.sh --AB 14 tmp/firmware.zip --fix-bug

      # 6. ПАТЧИНГ
      - name: Патчинг образа
        run: |
          cd SGSI-build-tool
          mkdir -p mount_point
          
          IMG_FILE=$(find . -name "*system*.img" | grep -v "mount_point" | head -n 1)
          
          if [ ! -f "$IMG_FILE" ]; then
            echo "ОШИБКА: Образ не найден!"
            exit 1
          fi

          if file "$IMG_FILE" | grep -q "Android sparse image"; then
             simg2img "$IMG_FILE" system_raw.img
             rm "$IMG_FILE"
             mv system_raw.img "$IMG_FILE"
          fi

          sudo mount -o loop,rw "$IMG_FILE" mount_point
          
          ech
