name: Build HyperOS SGSI for Poco F3 (Fixed Args)

on:
  workflow_dispatch:
    inputs:
      rom_url:
        description: 'Прямая ссылка на Recovery ROM HyperOS'
        required: true
        default: ''

jobs:
  build:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # 1. Очистка места
      - name: Ручная очистка места
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
          sudo apt-get clean
          df -h

      # 2. Установка зависимостей
      - name: Установка инструментов
        run: |
          sudo apt-get update
          sudo apt-get install -y git wget curl unzip tar android-sdk-libsparse-utils e2fsprogs simg2img img2simg python3 python3-pip aria2 brotli erofs-utils
          pip3 install protobuf==3.20.*

      # 3. Клонирование (ветка 12)
      - name: Настройка SGSI Tool
        run: |
          git clone --recurse-submodules https://github.com/Xiaoxindada/SGSI-build-tool.git -b 12
          sudo chmod -R 777 SGSI-build-tool

      # 4. Скачивание (В папку TMP)
      - name: Скачивание прошивки
        run: |
          cd SGSI-build-tool
          mkdir -p tmp
          echo "Скачивание в папку tmp..."
          aria2c -x16 -s16 -o tmp/firmware.zip "${{ github.event.inputs.rom_url }}"

      # 5. Сборка (ИСПРАВЛЕНА КОМАНДА)
      - name: Сборка SGSI
        run: |
          cd SGSI-build-tool
          
          # Запуск настройки окружения скрипта (на всякий случай)
          sudo bash setup.sh

          echo "Начинаем сборку..."
          # --- ИСПРАВЛЕНИЕ ---
          # Формат: make.sh <Тип> <Версия> <Путь> <Доп.опции>
          # --AB: Тип разметки для Poco F3
          # 14: Версия Android (HyperOS 1.0
